.container-fluid {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Coda", cursive;
  color: white;
  background-image: linear-gradient(black, rgb(20, 20, 20));
}
.websitesample {
  font-size: 25px;
}
.sitetable td {
  border: 10px solid #333333;
}

#abouttable {
  table-layout: fixed;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.blurbackground {
  width: 300px;
  height: auto;
  display: inline-block;
  position: relative;
  transition: 0.3s;
  margin: 4px;
}

.blurbackground img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
  border-radius: 4px;
}

.blurbackground:hover img {
  filter: blur(3px) brightness(60%);
  box-shadow: 0 0 16px;
}

.blurbackground :not(img) {
  position: absolute;
  z-index: 1;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}

.blurbackground h3 {
  top: 50%;
}

.blurbackground:hover :not(img) {
  opacity: 1;
}
.nav-link {
  font-size: 20px !important;
  font-family: "Coda", cursive;
}
.navbar-brand {
  font-size: 25px !important;
  font-family: "Coda", cursive;
}
.heading {
  padding-top: 80px;
}

.hometable {
  margin-left: auto;
  margin-right: auto;
}
img.shadow-filter:hover {
  filter: drop-shadow(8px 8px 10px black);
}

.slide-wrapper1 {
  background: url("https://i.imgur.com/FUzWx09.png")
}
.slide-wrapper2 {
  background: url("https://i.imgur.com/CM0i60b.png")
}
.slide-wrapper3 {
  background: url("https://www.kaplaninternational.com/blog/files/inline-images/Stack%20of%20papers.png")
}
.slide-wrapper4 {
  background: url("https://i.imgur.com/dsHTcT3.png")
}
.slide-wrapper5 {
  background: url("https://i.imgur.com/JUjniyX.jpg")
}
.slide-wrapper6 {
  background: url("https://i.imgur.com/ggcWfzV.png")
}
.slide-wrapper7 {
  background: url("https://i.imgur.com/TTprJXn.png")
}
.slide-wrapper8 {
  background: url("https://i.imgur.com/ckN1irg.png")
}

.slide-wrapper {
    no-repeat center center transparent;
  background-size: cover;
  font-family: sans-serif;
  height: 25rem;
  max-width: 900px;
  position: relative;
}

.slide-wrapper::before {
  display: block;
  mix-blend-mode: multiply;
  position: absolute;
  z-index: 2;
}

.slide-wrapper::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 1s ease 0s;
  width: 100%;
}

.slide-wrapper .slide-text {
  bottom: 60px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.5rem;
  left: 0;
  line-height: 2.8rem;
  padding: 0 8rem;
  position: absolute;
  transition: top 0.35s ease 0s;
  width: 100%;
  z-index: 2;
}

.slide-wrapper .slide-text .slide-heading {
  text-transform: uppercase;
}

.slide-wrapper .slide-text .slide-body {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1.5s ease 0s;
}

.slide-wrapper .slide-text h2 {
  color: #fff;
  font-size: 3.8rem;
  line-height: 4.5rem;
  margin: 0 0 10px;
  padding: 3px 0 0 0;
  text-transform: none;
}

.slide-wrapper .slide-text p:last-child {
  margin-bottom: 0;
}
.slide-wrapper .slide-text a {
  color: #fff;
}

.slide-wrapper .slide-text a.button {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 1.7rem;
  letter-spacing: 1px;
  padding: 0.8rem 2.3rem;
  text-decoration: none;
}

.slide-wrapper .slide-text a.button:active,
.slide-wrapper .slide-text a.button:focus,
.slide-wrapper .slide-text a.button:hover {
  color: #ff3233;
}
.slide-wrapper:hover::after {
  opacity: 1;
}
.slide-wrapper:hover .slide-body {
  max-height: 660px;
  opacity: 1;
}
.masthead {
  padding-top: 200px;
  display: flex;
}
#head {
	font-size: 100px;
	font-family: "Coda",
		cursive;
	letter-spacing: 5px;
}
#headpages {
	font-size: 80px;
	font-family: "Coda",
		cursive;
  letter-spacing: 5px;
}
.titlebox {
	background-image: url(https://wallpapercave.com/wp/yyaDv81.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.blurbackground{
  width:300px;
  height:auto;
  display:inline-block;
  position:relative;
  transition:.3s;
  margin:4px;
}

.blurbackground img{
  width:100%;
  height:100%;
  transition:.3s;
  border-radius:4px;
}

.blurbackground:hover img{
  filter:blur(3px) brightness(60%);
  box-shadow:0 0 16px;
}
 
.blurbackground :not(img){
  position:absolute;
  z-index:1;
  top:30%;
  width:100%;
  text-align:center;
  color:#fff;
  opacity:0;
  transition:.3s;
}

.blurbackground h3{
  top:50%
}

.blurbackground:hover :not(img){
  opacity:1;
}
.aboutparagraph {
  font-size: 15px;
  
}